[submodule "frontend"]
	path = frontend
	url = https://github.com/CraigRobertWhite/personal-budget-final-vue.git
	branch = master
[submodule "backend"]
	path = backend
	url = https://github.com/CraigRobertWhite/personal-budget-final-django.git
	branch = master